<style>
  
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom  sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listing"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler"
       type="button" 
       data-bs-toggle="collapse" 
       data-bs-target="#navbarNavAltMarkup" 
       aria-controls="navbarNavAltMarkup" 
       aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse nav" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listing">All Listing</a>
          <a class="nav-link" href="/listing/new">Add New List</a>
        </div>
      </div>
      <div class="container-fluid searchbox">
        <form class="d-flex" method="post" action="/listing/search">
          <input class="form-control me-2 search-box" type="search" placeholder="Search country" name="country" >
          <button class="btn btn-outline-success search-btn" type="submit"> <i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>
      <div class=" navbar-nav ms-auto">
        <% if (!currentUser) { %>
        <a class="nav-link"  href="/signup"><b>Signup</b></a>
        <a class="nav-link" href="/login"><b>Login</b></a>
        <% } %>
        <% if (currentUser) { %>
        <a class="nav-link" href="/logout"><b>Logout</b></a>
        <% } %>
      </div>
    </div>
  </nav>