<nav class="navbar navbar-expand-md bg-body-light border-bottom  sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler"
       type="button" 
       data-bs-toggle="collapse" 
       data-bs-target="#navbarNavAltMarkup" 
       aria-controls="navbarNavAltMarkup" 
       aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse nav" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="/listing">Home</a>
          <a class="nav-link" href="/listing">All Listing</a>
          <a class="nav-link" href="/listing/new">Add New List</a>
          
        </div>
      </div>
      <div class="container-fluid searchbox">
        <form class="d-flex sea " role="search">
          <input class="form-control me-2 search-box" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success search-btn" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>