<% layout("/biolerplate")%>
<body>
<div class="alert alert-primary d-flex  col-6 offset-3 " role="alert" style="margin-left: 27rem; background-color: rgb(232, 37, 37) !important;">
   
    <div style="padding-left:2rem; color: rgb(220, 185, 185) !important;">
      <p> <%= message %></p>
    </div>
  </div>
</body>  