<% layout("/biolerplate")%>
<style>
    .next-btn{
        
        
        /* margin-left: 85rem;
        
       margin-top: 20rem;
       margin-bottom: 3rem; */
    }

    button{
        border-radius: 3rem;
    }
    
</style>
<div class="info">
    <div class="text">
        <h6>Step 1</h6><br>
        <h2>Tell us about your Place</h2><br>
        <p>In this step, we'll ask you which type of property you have and if guests will book the entire place or just a room . 
            Then let us know the location and how many guests can stay</p>
    </div>
    <div class="image">
        <img src="./images/house-backimage.png" alt="Step 1">
    </div>

    <div class="next-btn">
        <button>Next</button>
    </div>
</div>